.fullContent {
    /* background-color: red; */
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vh 85vh 5vh;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.titleSection {
    grid-area: 1 / 1 / 2 / 2;
    height: 100%;
}


/* .navigationBarSection {
  grid-area: 2 / 1 / 3 / 2;
  height: 100%;
} */

.mainContentSection {
    grid-area: 2 / 1 / 3 / 2;
    height: auto;
    /* padding: 5px; */
    /* display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px; */
}

.footerSection {
    /* background-color: yellow; */
    grid-area: 3 / 1 / 4 / 2;
    height: 100%;
}